header{
    margin: 0%;
}

body{
    font-family: 'Oswald', sans-serif;
    background-color: #fafbfc;
}


header{
    background-color:rgb(253, 237, 163);
    padding: 30px;
    text-align:center;
    color: rgb(19, 19, 16);
}

main{
    padding: 30px 50px;
}

.card{
    background-color: aliceblue;
    text-align: left;
   
}

.lineinput{
display: grid;
margin-bottom: 20px;

}

.input{
padding: 10px;
border: 1px solid#ccc;
outline: 0;
}

