header{
    margin: 0 auto;
    width: 400px;
    
}

body{
    font-family: 'Oswald', sans-serif;
    background-color: rgb(227, 232, 255);
    text-align: center;
}

header{
    background-color:rgb(219, 223, 166);
    padding: 30px;
    text-align:center;
    color: rgb(19, 19, 16);
}

main{
    padding: 30px 50px;
}

.card{
    width: 100%;
  height: 50px;
    line-height: 50px;
    background-color: aliceblue;
    Display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 50px;
    margin-top: 50px;
    left: 50%; 
  margin-left: -100px; 
}


.lineinput{
display: grid;
margin-bottom: 20px;
text-align: center;
margin: 0px;
box-sizing: center;
justify-content: space-around;
margin-left: auto;
 margin-right: auto;
width: 10em

}

.input{
outline: 0;
width: 300px;
height: 300px;
vertical-align: center ;
padding: 5em;
border: 1px solid #CCC;
border-radius: 1em;
margin-left: auto;
    margin-right: auto;
    width: 6em

}

button{
border: 0px;
padding: 10px;
outline: 0;
background-color:rgb(106, 143, 130);
font-weight: bold;
font-family: 'Oswald', sans-serif;
border-radius: 3px;
margin-bottom: 10px;
}

button:hover{
    background-color: rgbrgb(219, 223, 166);
}
.content{
    margin-top: 50px;
}

table{
    border-collapse: collapse;
    width: 100%;
}
table th{
    background-color: rgb(253, 237, 163);
    padding: 1px 5px;
    text-align: center;

}
table td img{
    width: 22px;
}
.center{
    text-align: center;

}

#btnAdd{
    font-size: 10px;
    margin-top: 20px;
}

#btnCa{
    font-size: 10px;
}

.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:thistle;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color:lavender;
    color: white;
  }